<header class="Chaos-Header {% if page.nav_hide %}nav-hide{% else %}nav-visible{% endif  %}">

  {% include header/mobile.html %}
  {% include header/desktop.html %}

  {% if page.soundscape %}
  <audio class="Soundscape-Player"  controls>
   <source src="{{ page.soundscape | relative_url }}" type="audio/mpeg">
   Browser does not support audio
  </audio>
  <script type="text/javascript">
    var soundscape = document.getElementsByClassName("Soundscape-Player")[0]
    window.onload = function(){
      soundscape.play()
    }
  </script>
  {% endif %}
</header>
