<ul class="Memorial-Message-List">
  {% assign num_colors = site.data.colors.size %}
  {% for m in site.data.messages %}
  {% assign random = 1 | random %}
  {% assign words = m.message | split: " " %}
  {% assign type = m.type | default: "Message" %}
  <li
  class="Memorial-Message
    {{ type }}
    priority-{{ m.priority }}
    color-{{ random | times: num_colors | ceil }}"
  style="
    --random: {{ random | times: 2 }};
    --random-int: {{ random | times: 3 | ceil }};
    --charactors: {{ m.message.size }};
    --charactors-root: {% if m.message %}{{ m.message.size | sqroot }}{% endif %};
    --words: {{ words.size }};
    --priority: {{ m.priority | default: 5 }};
    --priority-root: {{ m.priority | default: 5 | sqroot  }};
    ">
      {% if type == "Message" %}
        {% if m.image %}<img src="{{m.image}}" alt="{{m.message}}">{% endif %}
        <div class="text">
          {{ m.message }}
          {% if m.name %}
          <ul class="author">
            <li>{{m.name}}
          </ul>
          {% endif %}
        </div>
      {% elsif type == "Quote" %}
      <blockquote>
        <h2>{{ m.message }}</h2>
      </blockquote>
      {% elsif type == "Image" %}
      <img src="{{m.image}}" alt="{{m.message}}">
      {% endif %}
    </li>
  {% endfor %}
</ul>
