// Spacing and dimentions
$article-width: 600px !default;
$spacing-unit: 10px;
$rounding: 5px;
$nav-height: 50px;

$content-width-narrow:    400px !default;
$content-width-wide:    600px !default;
$half-width:    500px !default;

$on-tiny:          200px !default;
$on-small:         400px !default;
$on-medium:        800px !default;
$on-large:         1300px !default;

// Nav bar
$action-bar-height: 72px !default;
$action-bar-height-mobile: 56px !default;
$shadow-color: grey;

// Fonts
$header-font-stack: 'Permanent Marker', sans-serif !default;
$body-font-stack: 'Kalam',sans-serif !default;
$base-font-weight: 400 !default;
$base-line-height: 1.5 !default;

$base-font-size: 12px !default;



@import "climatememorial/base",
  "climatememorial/content",
  "climatememorial/footer",
  "climatememorial/header",
  "climatememorial/messages",
  "climatememorial/components",
  "climatememorial/map";
