.Floating-Button {
  position: fixed;
  bottom: $spacing-unit * 2;
  &.right{
    right: $spacing-unit * 2;
  }
  &.left{
    left: $spacing-unit * 2;
  }
  box-shadow: 0 0 $rounding grey;
  padding:  $spacing-unit;
  // padding: 0;
  border-radius: 50%;
  z-index: 9;
  margin:0;
  a {
    color: $brand-text-color;
    text-decoration: none;
  }
  svg{
    stroke:  $brand-text-color;
    stroke-width: 15px;
    stroke-linecap: round;
  }
}

.Soundscape-Player{
  width: 100%;
}

.social-links {
    .link {
        text-decoration: none;

        svg {
            transition: 0.2s;
            fill: $brand-text-color;
            height: 38px;

            &:hover{
              fill: $brand-color;
              path:not(.circle), .st0 {
                    fill: $brand-text-color;
                    &.outline{
                      fill: none;
                      stroke: $brand-text-color;
                    }
                }
            }

            path:not(.circle), .st0 {
              fill: invert($brand-text-color);
              &.outline{
                fill: none;
                stroke: invert($brand-text-color);
                stroke-width: 6px;
              }
            }
        }
    }

}
