.Floating-Button {
  position: fixed;
  bottom: $spacing-unit * 2;
  &.right{
    right: $spacing-unit * 2;
  }
  &.left{
    left: $spacing-unit * 2;
  }
  box-shadow: 0 0 $rounding grey;
  padding:  $spacing-unit;
  // padding: 0;
  border-radius: 50%;
  z-index: 9;
  margin:0;
  a {
    color: $brand-text-color;
    text-decoration: none;
  }
  svg{
    stroke:  $brand-text-color;
    stroke-width: 15px;
    stroke-linecap: round;
  }
}

.Soundscape-Player{
  width: 100%;
}

.social-links {
  .link {
    text-decoration: none;
    svg {
      transition: 0.2s;
      fill: $brand-text-color;
      height: 38px;

      &:hover{
        fill: $brand-color;
        path:not(.circle), .st0 {
          fill: $brand-text-color;
          &.outline{
            fill: none;
            stroke: $brand-text-color;
          }
        }
      }

      path:not(.circle), .st0 {
        fill: invert($brand-text-color);
        &.outline{
          fill: none;
          stroke: invert($brand-text-color);
          stroke-width: 6px;
        }
      }
    }
  }
}
.Flex-Line{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}


// .Message-Map-Container{
//   display: flex;

// }

.printable-list{
  .message{
    list-style: none;
    font-size: 10pt;
    &:nth-child(6n){
      break-after: page;
    }
    &:nth-child(odd){
      text-align: right;
    }
  }
}


.Memorial-Carousel{
  height: calc(min(70vh,400px));
  .carousel-cell{
    &:not(img){
      width: 640px;
    }
    height: 100%;
    width: auto;
  }
}




.Text-Block {
  background: $background-color no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  &.full{
    min-height: 100vh;
    .Text{
      display: flex;
      flex-direction: column;
      justify-content: center;
      article{
        display: flex;
        flex-direction: column;
        gap: $spacing-unit * 2;
      }
    }
  }
  .Text{
    width: 100%;
    background-color: rgba($background-color, 0.4);
    article{
      text-align: center;
      background-color: rgba($background-color, 0.8);
      box-shadow: 0 0 30px $background-color;
      border-radius: 30px;
    }
  }
  .Image{
    background: $background-color no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    @media screen and (max-width: $article-width){
      height: 30vh;
    }
  }
  @media screen and (min-width: $article-width){
    display: flex;
    &.split > * {
      flex: 0 0 50%;
    }
  }
}
