main.background{
  background-color: rgba($background-color, 0.8);
  padding-top: $action-bar-height;
}
article {
  padding-bottom: 5 * $spacing-unit;
  h1:first-child{
    color: $brand-color;
  }
}
main{
  > :first-child{
    padding-top: $action-bar-height-mobile * 1.5;


    @media screen and (min-width: $on-small) {
        padding-top: $action-bar-height * 1.5;
    }
  }
}
body{
  line-height: $base-line-height;
}
