footer{
  background-color: $black;
  padding: $spacing-unit;
  z-index: 10;
  position: relative;
  > *{
    max-width: $article-width;
    margin: 0 auto;
  }
  > p{
    text-align: center;
  }
  color: $white;
}
