---
---

{% capture colors %}{% for c in site.data.colors %}{{ c.name }}{% unless forloop.last %}, {% endunless %}{% endfor %}{% endcapture %}
$message-colors: {{ colors | default: "#ffb2d4,#f0ffc0,#ffd3b6,#ffaaa5,#ff8b94,#dcedc1,#a8e6cf" }};

// COLORS //

// Standard
$white: white;
$black: black;
$red: red;
$blue: blue;

$background-color: {{ site.background_color | default: "$white" }} !default;
@debug $background-color;

$brand-color: {{ site.brand_color | default: "$red" }} !default;
$brand-color-dark: darken($brand-color, 10%);
$brand-text-color: white !default;

$accent-color:  {{ site.accent_color | default: "$blue" }} !default;
$accent-color-dark: darken($accent-color , 10%);
$accent-text-color: white !default;

$text-color: black;

@import "climatememorial";
